.contact{
    text-decoration-line: none ;
    color:orange;
}
.Menu{
    text-decoration-line: none ;
    color:orange;
}
.profile{
    text-decoration-line: none ;
    color:orange;
}
.account{
    text-decoration-line: none ;
    color:orange;
}
.dashboard{
    text-decoration-line: none ;
    color:orange;
}
.cards{
    display:inline-block;
    margin: 3px;
    padding: 3px;
}
.cards Cards{
    display:inline-block;
}